<ul>
    <li>Title: <%= book_record.title %></li>
    <li>Author: <%= book_record.author %></li>
    <li>Synopis: <%= book_record.synopsis %></li>
    <div style="text-align: left"><img class="book-record-search" src="<%= book_record.img_url %>" > </div>
</ul>