<h1 class="page-header">Please confirm or input book details</h1>
<h3 >Create a Book Record</h3>
<%= render 'form' %>
<br><br>
New Feature: <%= link_to  "Search by author", authors_search_path %>
<br>
<br>
<br>
<br>
<br>
<br>
