<h1 class="page-header">Welcome!</h1>

<h2 style="text-align: center">Visit on of our Pergolas and Borrow a Book!</h2>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sit amet tellus cras adipiscing enim eu turpis egestas. Ultricies mi eget mauris pharetra. Eget est lorem ipsum dolor sit amet consectetur adipiscing elit. Turpis tincidunt id aliquet risus.</p>

<h3 style="text-align: center">New Arrivals</h3>
<div class="new-arrivals">
<p class="featured">
    <% BookRecord.all.each do |record| %>
    <% if record.featured == true %>
        <div class="cell"><a href=<%= book_record_path(record)%> alt=<%=record.title%>><img class="book-record-search" src="<%= record.img_url %>" alt="<%= record.title%>"></a></div>
    <% end %>
    <% end %>
</p>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>