.search-table-results {
    background-color: lightblue;
    border-radius: 15px;
    display: flex;
    box-shadow: 5px 3px gray;
}

.book-record-search {
    height: 150px;
    float: left;
    margin: 10px;
    display: inline-flex;
    justify-content: space-evenly;
}