.search-table-results {
    background-color: #AED8EA;
    border-radius: 15px;
    display: flex;
    box-shadow: 5px 3px gray;
}

.book-record-search {
    height: 150px;
    float: left;
    margin: 10px;
    display: inline-flex;
    justify-content: space-evenly;
}

#query {
    width: 40%;
}



.invalid-search {
    color: #FF6663;
    font-weight: bold;
    text-align: center;
    font-size: 150%;
}

.invalid-search-gif {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.book-record-show-result {
    display: flex;
}

.book-record-show-details {
    height: 300px;
    float: left;
    margin: 10px;
    display: inline-flex;
    justify-content: space-evenly;
}